:root {
    --white: #fff;
    --black: #000;
    --primary: #feae4a;
    --light-primary: rgba(254, 174, 74, 0.2);
    --pink: rgb(255 175 149);
    --light-pink: rgba(255, 175, 149, 0.6);
    --gray: #4c5b65;
}


html {
    box-sizing: border-box;
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

#app {
    background-image: url("./assets/images/bg.webp");
    background-position: top center;
    background-size: cover;
    min-height: 100vh;
}

.app__msg {
    padding-top: 200px;
    text-align: center;
}

.app__msg h2 {
    margin-top: 0;
    font-size: 40px;
}

.app__msg p {
    font-size: 20px;
}

.app__timer {
    --timer-size: 500px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 48%;
    height: var(--timer-size);
    width: var(--timer-size);
}

.app__timer span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    font-weight: 800;
    color: var(--primary);
}

.base-timer__svg {
    /* Flips the svg and makes the animation to move left-to-right */
    transform: scaleX(-1);
}
  
/* Removes SVG styling that would hide the time label */
.base-timer__circle {
    fill: none;
    stroke: none;
}
  
/* The SVG path that displays the timer's progress */
.base-timer__path-elapsed {
    stroke-width: 4px;
    stroke: var(--primary);
}

.base-timer__path-remaining {
    color: var(--white);
    stroke-width: 7px;
    stroke-linecap: round;
    transform: rotate(90deg);
    transform-origin: center;
    transition: 1s linear all;
    stroke: currentColor;
}

.app__tool-list {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: rgb(255, 255, 255, 0.4);
    padding: 16px 0;
}

.app-tool__btn-list {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}

.app-tool__wrapper {
    position: relative;
    margin-right: 12px;
}

.app-tool__wrapper--song .app-tool__option-list {
    display: none;
    position: absolute;
    bottom: calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%);
    text-align: left;
    background: rgb(255, 255, 255, 0.6);
    padding: 10px 20px;
    border-radius: 20px;
    min-width: 120px;
}

.app-tool__wrapper--timming .app-tool__option-list {
    display: none;
    position: absolute;
    bottom: calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%);
    text-align: left;
    padding: 10px 20px;
    border-radius: 20px;
    background: rgb(255, 255, 255, 0.6);
    min-width: 100px;
}

.app-tool__btn.active ~ .app-tool__option-list {
    display: block;
}

.app-tool__wrapper--song .app-tool__option-list a,
.app-tool__wrapper--timming .app-tool__option-list a{
    display: block;
    margin: 10px 0;
    font-size: 14px;
    font-weight: 300;
    cursor: pointer;
}

.app-tool__wrapper--song .app-tool__option-list a:hover,
.app-tool__wrapper--timming .app-tool__option-list a:hover{
    text-decoration: underline;
}

.app-tool__btn {
    --btn-size: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 22px;
    width: var(--btn-size);
    height: var(--btn-size);
    border-radius: 50%;
    background: var(--primary);
    color: var(--white);
}

.app-tool__btn:hover {
    background: rgba(254, 174, 74, 0.5);
    transition: background 0.3s ease;
}


.app-tool__btn—-pause {
    display: none;
}

.app-tool__btn—-pause.show {
    display: block;
}

.app-tool__btn—-play {
    display: block;
}

.app-tool__btn—-play.hide {
    display: none;
}

.app-tool__active-song h2{
    font-size: 20px;
    font-weight: 600;
    margin: 6px 0 0 0;
}

.app__toast-msg {
    position: fixed;
    bottom: 32px;
    right: 32px;
    z-index: 99999;
}

.toast {
    min-width: 400px;
    max-width: 450px;
    opacity: 1;
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 20px 0;
    border-radius: 2px;
    border: unset;
    border-left: 4px solid;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
    transition: all linear 0.3s;
}

@keyframes slideInLeft {
    from {
      opacity: 0;
      transform: translateX(calc(100% + 32px));
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
}
  
@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

.toast--success {
  border-color: #71be34;
}

.toast--success .toast__icon {
  color: #71be34;
}

.toast--warning {
  border-color: #ffc021;
}

.toast--warning .toast__icon {
  color: #ffc021;
}

.toast--info {
  border-color: #2f86eb;
}

.toast--info .toast__icon {
  color: #2f86eb;
}

.toast--error {
  border-color: #ff623d;
}

.toast--error .toast__icon {
  color: #ff623d;
}

.toast__icon,
.toast__close {
  padding: 0 16px;
}

.toast__icon {
  font-size: 24px;
}

.toast__body {
  flex-grow: 1;
}

.toast__title {
  font-size: 16px;
  font-weight: 600;
  color: #333;
}

.toast__msg {
  font-size: 14px;
  color: #888;
  margin-top: 6px;
  line-height: 1.5;
}

.toast__close {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all 0.2s linear;
}

.toast__close:hover {
  color: rgba(0, 0, 0, 0.1);
}

/* Responsive for Mobile */
@media screen and (max-width: 739px) {
    .app__msg {
        padding-top: 100px;
        padding-left: 10px;
        padding-right: 10px;

    }

    .app__msg h2 {

    }

    .app__msg p {
        font-size: 14px;
        font-weight: 300;
    }

    .app__timer {
        --timer-size: 200px;
        top: 44%
    }

    .app-tool__song-list {
        left: 0;
        width: 120px;
    }

    .toast {
        min-width: 200px;
        max-width: 250px;
        padding: 10px 0;
    }

    .toast__msg {
        font-size: 12px;
    }

    .toast__title {
        font-size: 14px;
        margin: 8px 0;
    }
    .toast__icon {
        font-size: 16px;
    }

    .toast__icon, .toast__close{
        padding: 0 10px;
    }
}